<head>
  <title>Pagina 401</title>
</head>


{{!-- Contenido --}}
<div class="content content-page">
  <div class="container-fluid">
      {{!-- Titulo pagina --}}
      <div class="row">
          <div class="col-12">
              <div class="page-title-box">
                  <h4 class="page-title">Error 401</h4>
              </div>
          </div>
      </div>     
      {{!-- Fin Titulo pagina --}}

    <div class="row justify-content-center mt-4">
      <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="error-ghost text-center">
              <img src="img/errores/error401.png" width="100%" alt="error-image"/>
          </div>

          <div class="text-center">
              <h3 class="mt-4 text-uppercase font-weight-bold">No autorizado validar con el Administrador!!! </h3>
              <p class="text-muted mb-0 mt-3" style="line-height: 20px;">Sin permisos...</p>

              {{!-- <a class="btn btn-info mt-3" href="/redirect"><i class="mdi mdi-reply mr-1"></i> Regresar</a> --}}
          </div>
        </div>
    </div>
  </div>
</div>
{{!-- Fin Contenido --}}