{{!-- Cruds Formularios Administrador Sistema --}}

<!-- Listado Estados -->
<datalist id="crud_Estado_Usuarios">
    <option value="Activo">Activo en la Campa침a</option>
    <option value="Inactivo">Retiro, Cambio Campa침a etc...</option>
</datalist>
<!-- end Listado Estados -->

<!-- Estados Lineas-->
<datalist id="crud_Estado_lineas">
    <option value="Activo">Permite comunicaci칩n Outbound</option>
    <option value="Inactivo">No Permite comunicaci칩n Outbound</option>
</datalist>
<!-- end Estados Lineas -->

<!-- Roles internos -->
<datalist id="crud_rol_internos">
    <option value="Administrador">Administrador</option>
    <option value="Gestor">Gestor</option>
</datalist>
<!-- Fin Roles internos -->